.bg-conference {
  background:
    linear-gradient(#4b3f74cc, #231254ff),
    url('/images/home/conference.jpeg') no-repeat center 20%;
  background-size: cover;
  filter: blur(5px);
  transform: scale(1.03);
}

.bg-speaker {
  background: url('/images/home/wave.svg'), linear-gradient(to bottom right, #fb4a85, #5223ce);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.cover {
  .bg-speaker {
    width: 45%;
    height: 90%;
    border-bottom-left-radius: var(--bs-border-radius-xxl) !important;
    overflow: hidden;
  }
}
