$font-family-arcadegamer: arcadegamer;
$font-path-arcadegamer: $asset-prefix + '/fonts/';
$font-extensions-arcadegamer: eot woff2 ttf woff svg;
$font-family-scr-nsevbd: scr-nsevbd;
$font-path-scr-nsevbd: $asset-prefix + '/fonts/';
$font-extensions-scr-nsevbd: eot woff2 ttf woff svg;
