$enable-negative-margins: true;
$primary: #df1c5d;
$secondary: #271954;
$warning: #fd723c;
$info: #6342cb;
$info-bg-subtle: #7350e1;
$light: #eff1fd;
$light-bg-subtle: #f8f9ff;
$spacer: 1rem;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  10: 10px
) !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6
);
$utilities: (
  'opacity': (
    property: opacity,
    values: (
      0: 0,
      25: 0.25,
      35: 0.35,
      50: 0.5,
      75: 0.75,
      100: 1
    )
  )
);
$input-btn-padding-x: 1.5rem;
$input-btn-padding-y: 0.75rem;
$input-btn-padding-x-lg: 2rem;
$input-btn-padding-y-lg: 1rem;
$btn-border-radius: 50px;
$btn-border-radius-lg: 50px;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;
$display-font-weight: $font-weight-bolder;
$btn-font-weight: $font-weight-bold;
$headings-font-weight: $font-weight-bolder;
$lead-font-weight: $font-weight-normal;
$navbar-padding-y: $spacer * 2;
$navbar-nav-link-padding-x: $spacer * 1.5;
$badge-padding-y: 0.7em;
$badge-padding-x: 1.3em;

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';

@import 'icons';
