---
name: Publish on GitHub Pages

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    environment:
      name: github-pages

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8.6.7

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: |
          echo ${{ vars.NEXT_PUBLIC_ASSET_PREFIX }}
          echo ${{ vars.NEXT_PUBLIC_BASE_PATH }}
          echo $NEXT_PUBLIC_BASE_PATH
          echo $NEXT_PUBLIC_BASE_PATH
          echo ${{ vars }}
          pnpm build

      - name: Upload build artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: build/

  deploy:
    name: Deploy
    needs: build
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
